@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.t1 {
  font-size: 28px;
  font-weight: 600;
}
.nanum {
  font-family: 'Nanum Myeongjo', serif;
}
