@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'v-calendar/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #fdfdfd;
  color: #000;
}

.oooh-baby-regular {
  font-family: 'Oooh Baby', cursive;
  font-weight: 400;
  font-style: normal;
}

/* สำหรับหน้าจอเล็กมาก (ไม่เกิน 500px) */
@media (max-width: 500px) {
  .t1 {
    font-size: 28px;
  }
  .t2 {
    font-size: 21px;
  }
  .t3 {
    font-size: 18px;
  }
  .b1 {
    font-size: 14px;
  }
  .b2 {
    font-size: 12px;
  }
  .b3 {
    font-size: 10px;
  }
  .b4 {
    font-size: 8px;
  }
}

/* สำหรับหน้าจอขนาดกลาง (มากกว่า 500px และไม่เกิน 1200px) */
@media (min-width: 501px) and (max-width: 1200px) {
  .t1 {
    font-size: 32px;
  }
  .t2 {
    font-size: 24px;
  }
  .t3 {
    font-size: 20px;
  }
  .b1 {
    font-size: 16px;
  }
  .b2 {
    font-size: 14px;
  }
  .b3 {
    font-size: 12px;
  }
  .b4 {
    font-size: 10px;
  }
}

/* สำหรับหน้าจอใหญ่ (มากกว่า 1200px) */
@media (min-width: 1201px) {
  .t1 {
    font-size: 36px;
  }
  .t2 {
    font-size: 28px;
  }
  .t3 {
    font-size: 24px;
  }
  .b1 {
    font-size: 18px;
  }
  .b2 {
    font-size: 16px;
  }
  .b3 {
    font-size: 14px;
  }
  .b4 {
    font-size: 12px;
  }
}

.t1 {
  font-family: 'Poppins', 'Prompt', sans-serif;
  /* font-size: 36px; */
  font-weight: 600;
  line-height: 130%;
}

.t2 {
  font-family: 'Poppins', 'Prompt', sans-serif;
  /* font-size: 28px; */
  font-weight: 600;
  line-height: 130%;
}

.t3 {
  font-family: 'Poppins', 'Prompt', sans-serif;
  /* font-size: 24px; */
  font-weight: 600;
}

.b1 {
  font-family: 'Poppins', 'Prompt', sans-serif;
  /* font-size: 18px; */
}

.b2 {
  font-family: 'Poppins', 'Prompt', sans-serif;
  /* font-size: 16px; */
}

.b3 {
  font-family: 'Poppins', 'Prompt', sans-serif;
  /* font-size: 14px; */
}

.b4 {
  font-family: 'Poppins', sans-serif;
  /* font-size: 12px; */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #4b4b4b;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load {
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#e4e4e4 0 0);
  background:
    var(--c) 0% 100%,
    var(--c) 50% 100%,
    var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: l8 1s infinite linear;
}
@keyframes l8 {
  16.67% {
    background-position:
      0% 0%,
      50% 100%,
      100% 100%;
  }
  33.33% {
    background-position:
      0% 0%,
      50% 0%,
      100% 100%;
  }
  50% {
    background-position:
      0% 0%,
      50% 0%,
      100% 0%;
  }
  66.67% {
    background-position:
      0% 100%,
      50% 0%,
      100% 0%;
  }
  83.33% {
    background-position:
      0% 100%,
      50% 100%,
      100% 0%;
  }
}

.mask-gradient {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(20px);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  pointer-events: none;
}

.bg-glass {
  @apply border border-white/90 bg-white/90 drop-shadow-md backdrop-blur-xl;
}
